<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('admin.static', filename='bootstrap/bootstrap3/css/bootstrap.css') }}" rel="stylesheet">
	<style>
		.form-security {
		    max-width: 300px;
		    padding: 19px 29px 29px;
		    margin: 20px auto;
		    background-color: #fff;
		    border: 1px solid #e5e5e5;
		    -webkit-border-radius: 5px;
		       -moz-border-radius: 5px;
		            border-radius: 5px;
		    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
		       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
		            box-shadow: 0 1px 2px rgba(0,0,0,.05);
		}
		.form-security input[type="text"],
		.form-security input[type="password"] {
		    font-size: 16px;
		    height: auto;
		    margin-bottom: 15px;
		    padding: 7px 9px;
		}
		.alert.flash-message {
			margin-bottom: 15px;
		}
	</style>
</head>
<body>

<div id="wrap">
    {% block header %}{% endblock %}
    {% block main %}{% endblock %}
    <div id="push"></div>
</div>

{% block footer %}{% endblock %}

</body>
</html>