{% extends 'security/base.html' %}
{% from "security/my_macros.html" import render_field %}

{% block main %}
<div class="container">
	{% include "security/messages.html" %}
    <form class="form-security" action="{{ url_for_security('login') }}" method="POST" name="login">
        <h2 class="text-center">Вход</h2>
	    {{ login_user_form.hidden_tag() }}
        {{ render_field(login_user_form.login, type="text", class="input-block-level", placeholder="Логин") }}
        {{ render_field(login_user_form.password, type="password", class="input-block-level", placeholder="Пароль") }}
        <div class="text-center">
            <button class="btn btn-info btn-large" type="submit">Войти</button>
        </div>
    </form>
</div>
{% endblock %}>