{% macro render_field(field) -%}
    {% if field.errors %}
        {{ field(class="inputError", **kwargs)|safe }}
        <div class="flash-message alert alert-error">
            {% for error in field.errors %}
                <div>{{ error|safe}}</div>
            {% endfor %}
        </div>
    {% else %}
        {{ field(**kwargs)|safe }}
    {% endif %}
{%- endmacro %}l>