{% extends 'admin/model/create.html' %}

{% block messages %}

{% endblock %}

{% block body %}
{% if role=='Admin' or role=='Teacher' %}
    <form id="siting" method="post">
            <center>
            {{ form.hidden_tag() }}
            {{ form.group.label }}&nbsp;&nbsp;{{ form.group() }}
            {{ form.semester.label }}&nbsp;&nbsp;{{ form.semester() }}
            {{ form.subject.label }}&nbsp;&nbsp;{{ form.subject() }}
                <button class="btn btn-info btn-small" type="submit">Ок</button>
{#            </div>#}
        </center>
        </form>
    <br/>
    <br/>
    <br/>
{% endif %}

{% if file_name %}
    <div class="container" style="text-align: right; padding-right: 60px; margin-bottom: 20px;">
     <a href="{{ file_name }}">Скачать в CSV</a>
    </div>
{% endif %}

{% if role=='Admin' or role=='Teacher' %}
    <table class="table table-striped table-bordered table-hover model-list">
        <thead>
            <tr>
                <th><a>Студент</a></th>
                <th><a>Присутствовал</a></th>
                <th><a>Отсутствовал</a></th>
                <th><a>Балл</a></th>
            </tr>
        </thead>

        <tbody>
            {% for subj in data %}
                <tr>
                    <td>
                    <span style="display: inline-block; width: 70px; margin-right: 20px">
                        {% if 'photo' in data[subj] %}
                            <img src="{{ data[subj]['photo'] }}">
                        {% endif %}
                    </span>
                        {{ data[subj]['name'] }}
                    </td>
                    <td>{{ data[subj]['present']}}</td>
                    <td>{{ data[subj]['not_present']}}</td>
                    <td>{{ data[subj]['rate']}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <table class="table table-striped table-bordered table-hover model-list">
        <thead>
            <tr>
                <th><a>Предмет</a></th>
                <th><a>Семестр</a></th>
                <th><a>Присутствовал</a></th>
                <th><a>Отсутствовал</a></th>
                <th><a>Балл</a></th>
            </tr>
        </thead>

        <tbody>
            {% for semester, subjects in data.iteritems() %}
                {% for subject, values in subjects.iteritems() %}
                <tr>
                    <td>{{ subject }}</td>
                    <td>{{ semester }}</td>
                    <td>{{ values['present']}}</td>
                    <td>{{ values['not_present']}}</td>
                    <td>{{ values['rate']}}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}


{% block tail_js %}
    {{ super() }}
    <script src="/static/q.js"></script>
    <script>
        var groupSemesters = {};
        var groupSemesterSubjects = {};
        var currentGroupId, currentSemesterId;

        var groupElement = $('select#group');
        var semesterElement = $('select#semester');
        var subjectElement = $('select#subject');

        var getSemesterList = function (groupId, callback) {
            if (groupId in groupSemesters) {
                callback(groupSemesters[groupId]);
            } else {
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: '{{ url_for('subjtable.get_data') }}',
                    data: { what: 'group_semesters', group_id: groupId },
                    success: function (semesterList) {
                        groupSemesters[groupId] = semesterList;
                        callback(semesterList);
                    }
                });
            }
        };

        var getSubjectList = function (groupId, semesterId, callback) {
            if (!(groupId in groupSemesterSubjects)) {
                groupSemesterSubjects[groupId] = {};
            }
            if (semesterId in groupSemesterSubjects[groupId]) {
                callback(groupSemesterSubjects[groupId][semesterId]);
            } else {
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: '{{ url_for('subjtable.get_data') }}',
                    data: { what: 'group_semester_subjects', group_id: groupId, semester_id: semesterId },
                    success: function (subjectList) {
                        groupSemesterSubjects[groupId][semesterId] = subjectList;
                        callback(subjectList);
                    }
                });
            }
        };

        var loadGroup = function (groupId) {
            var deferred = Q.defer();
            if (currentGroupId !== groupId) {
                getSemesterList(groupId, function (semesters) {
                    currentGroupId = groupId;
                    semesterElement.empty();
                    semesters.forEach(function (semester) {
                        var option = $('<option></option>').attr("value", semester.id).text(semester.title);
                        semesterElement.append(option);
                    });
                    deferred.resolve(groupId, semesters);
                });
            } else {
                deferred.resolve(groupId);
            }
            return deferred.promise;
        };

        var loadSemester = function (groupId, semesterId) {
            var deferred = Q.defer();
            getSubjectList(groupId, semesterId, function (subjects) {
                currentSemesterId = semesterId;
                subjectElement.empty();
                subjects.forEach(function (subject) {
                    var option = $('<option></option>').attr("value", subject.id).text(subject.title);
                    subjectElement.append(option);
                });
                deferred.resolve(semesterId, subjects);
            });
            return deferred.promise;
        };

        $(function () {
            var initSelects = function () {
                groupElement.change(function () {
                    loadGroup($(this).val()).then(function () {
                        loadSemester(currentGroupId, semesterElement.val());
                    });
                });
                semesterElement.change(function () {
                    loadSemester(currentGroupId, $(this).val());
                });
            };

            {% if initial_data %}
                var initialData = {{ initial_data|tojson|safe }};
                loadGroup(initialData.group).then(function () {
                    return loadSemester(initialData.group, initialData.semester);
                }).then(function () {
                    semesterElement.val(initialData.semester);
                    subjectElement.val(initialData.subject);
                }).then(function () {
                    initSelects();
                });
            {% else %}
                loadGroup(groupElement.val()).then(function () {
                    return loadSemester(currentGroupId, semesterElement.val());
                }).then(function () {
                    initSelects();
                });
            {% endif %}
        });
    </script>
{% endblock %}