{% extends 'admin/model/create.html' %}
{% from "security/my_macros.html" import render_field %}

{% block head_css %}
    {{ super() }}
    <link href="/admin/static/vendor/bootstrap-daterangepicker/daterangepicker-bs2.css" rel="stylesheet">
    <link href="/static/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <style type="text/css">
        .std{
            cursor: pointer;
            list-style-type: none;
            margin: 0;
            left: 0;
            width: 100%;
        }
        .std:hover{
            background-color: lightblue;
        }
        .clicked{
            background-color: bisque;
        }
        .clicked:hover{
            background-color: aquamarine;
        }
        #controls{
            text-align: right;
            margin-bottom: 5px;
        }
        .std-table-tr{
            text-align: center;
        }
        .std-table{
            cursor: pointer;
            background-color: saddlebrown;
            border: 8px solid #ffffff;
            width: 120px;
            height: 60px;
            color: #ffffff;
            text-align: center;
            padding: 0;
            vertical-align: middle;
        }
        .std-table-clicked{
            border: 8px solid #ff412d;
        }
        .board{
            background-color: #b26528;
        }
        .board td{
           border-bottom: 8px solid #ffffff;
           border-right: 16px solid #ffffff;
           border-left: 16px solid #ffffff;
           text-align: center;
           color: #ffffff;
           width: 10px;
        }
        .students{
           background-color: lightgray;
        }
        .tools {
            margin-bottom: 10px;
        }
        #room > #space {
            position: relative;
            width: 100%;
            height: 400px;
            border: 1px solid #000000;
            background-color: #e5e5e5;
        }
        #room .desk {
            position: absolute;
            width: 120px;
            height: 50px;
            border: 1px solid #000000;
            background-color: #c77405;
        }
    </style>
{% endblock %}

{% block body %}
<div  style="padding-bottom: 20px; padding-left: 5px; margin-bottom: 20px; border-bottom: 1px solid #ddd;
{% if _id %}display: none;{% endif %}
">

        <form id="siting" action="" method="post">
            <center>
            {{ form.name.label }}&nbsp;&nbsp;{{ form.name() }}
            {{ form.horizontal_length.label }}&nbsp;&nbsp;{{ form.horizontal_length() }}
            {{ form.vertical_length.label }}&nbsp;&nbsp;{{ form.vertical_length() }}
            {{ form.board_position.label }}&nbsp;&nbsp;{{ form.board_position() }}
{#            {{ form.start_time.label }}&nbsp;&nbsp;{{ form.start_time(class='datepicker') }}#}
{#            {{ form.end_time.label }}&nbsp;&nbsp;{{ form.end_time(class='datepicker') }}#}
            <button id="save-room-data" class="btn btn-info">Сохранить</button>
{#            </div>#}
            </center>
        </form>
</div>

<div class="tools container">
    <button id="createDesk" class="btn btn-success btn-lg">Новая парта</button>
    <button id="fillRoom" class="btn btn-default btn-lg">Замостить</button>
</div>

<div id="room" class="container">
    <div id="space"></div>
</div>
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script src="/static/jquery-ui/jquery-ui.js"></script>
    <script src="/static/jquery.ui.touch-punch.min.js"></script>
    <script>
        var deskWidth = 120, deskHeight = 60, roomHeight = 400;
        var desks = [];
        {% if classroom_data %}
        var classroomData = {{ classroom_data|tojson|safe }};
        {% endif %}
        var roomElement = $('#room > #space');
        var roomWrapper = $('#room');
        var submitButton = $('#save-room-data');

        var updateRoomStyle = function (cols, rows) {
            var roomWidth;
            var maxRoomHeight = $(window).height() - roomElement.offset().top;
            var maxRoomWidth = roomWrapper.width();
            var proportions = maxRoomHeight / maxRoomWidth;
            //var proportions = Math.max(rows / cols * 1.2, fullProportions);
            roomWidth = Math.floor(maxRoomHeight / proportions);
            roomHeight = Math.floor(roomWidth * proportions);
            deskWidth = Math.floor(roomWidth * 0.9 / cols);
            deskHeight = Math.floor(roomHeight * 0.9 / rows);
            roomElement.css({
                height: roomHeight + 'px',
                width: roomWidth + 'px'
            });
            roomElement.find('.desk').css({
                width: deskWidth,
                height: deskHeight
            });
        };

        var createDesk = function (x, y, id) {
            x = x || 0;
            y = y || 0;
            id = id || null;
            desks.push({
                x: x,
                y: y,
                id: id
            });
            var deskElement = drawDesk(desks.length - 1);
            return deskElement;
        };
        var removeDesk = function (element) {
            desks.forEach(function (desk, index) {
                if (desk && desk.element == element) {
                    element.remove();
                    desks[index] = undefined;
                }
            });
        };
        var drawDesk = function (index) {
            var desk = desks[index];
            var deskElement = $('<div class="desk"></div>');
            roomElement.append(deskElement);
            deskElement.css({
                width: deskWidth,
                height: deskHeight,
                left: desk.x * roomElement.width(),
                top: desk.y * roomElement.height()
            });
            if ('id' in desk) {
                deskElement.attr('desk-id', desk.id);
            }
            deskElement.attr('desk-index', index);
            desks[index].element = deskElement;

            deskElement.draggable({
                //grid: [10, 10],
                drag: function( event, ui ) {
                    if (!isContain(roomElement, deskElement, true)) {
                        deskElement.css('opacity', '0.3');
                    } else {
                        deskElement.css('opacity', '1.0');
                    }
                },
                stop: function( event, ui ) {
                    if (!isContain(roomElement, deskElement, true)) {
                        removeDesk(deskElement);
                    } else {
                        var roomOffset = roomElement.offset();
                        var deskOffset = deskElement.offset();
                        desks[index].x = (deskOffset.left - roomOffset.left) / roomElement.width();
                        desks[index].y = (deskOffset.top - roomOffset.top) / roomElement.height();
                    }
                }
            });
            return deskElement;
        };
        var drawRoom = function () {
            roomElement.empty();
            desks.forEach(function (desk, index) {
                if (desk !== undefined) {
                    var deskElement = drawDesk(index);
                    desk.element = deskElement;
                }
            });
        };

        var isContain = function (container, element, full) {
            var containerPos = $(container).offset();
            var elementPos = $(element).offset();
            if (full) {
                return (
                    containerPos.left < elementPos.left
                    && containerPos.top < elementPos.top
                    && containerPos.left + $(container).width() > elementPos.left + $(element).width()
                    && containerPos.top + $(container).height() > elementPos.top + $(element).height()
                );
            } else {
                return (
                    containerPos.left < elementPos.left + $(element).width() / 2
                    && containerPos.top < elementPos.top + $(element).height() / 2
                    && containerPos.left + $(container).width() > elementPos.left - $(element).width() / 2
                    && containerPos.top + $(container).height() > elementPos.top - $(element).height() / 2
                );
            }
        };

        var saveRoomData = function () {
            var deskList = desks.filter(function (desk) { return !!desk; }).map(function (desk) {
                return {
                    x: desk.x,
                    y: desk.y,
                    id: desk.id || null
                };
            });
            var data = {
                desks: deskList,
                cols: $('#horizontal_length').val(),
                rows: $('#vertical_length').val(),
                name: $('#name').val(),
                board_position: $('#board_position').val()
            };
            if ('classroomData' in window) {
                data.classroom_id = classroomData.id;
            }
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: '.',
                data: JSON.stringify(data),
                success: function (response) {
                    submitButton
                            .removeClass('btn-info')
                            .addClass('btn-success')
                            .text('Сохранено');
                    setTimeout(function () {
                        {% if return_url %}
                            window.location.href = '{{ return_url }}';
                        {% else %}
                            submitButton
                                .removeClass('btn-success')
                                .addClass('btn-info')
                                .text('Сохранить')
                                .prop('disabled', false);
                        {% endif %}
                    }, 1000);
                },
                error: function () {
                    submitButton
                            .removeClass('btn-info')
                            .addClass('btn-danger')
                            .text('Ошибка');
                    setTimeout(function () {
                        submitButton
                                .removeClass('btn-danger')
                                .addClass('btn-info')
                                .text('Сохранить')
                                .prop('disabled', false);
                    }, 1000);
                }
            });
        };

        $(function () {
            drawRoom();
            $('#createDesk').bind('mousedown touchstart', function (event) {
                var deskElement = createDesk(0, 0);
                var widget = deskElement.data('ui-draggable');
                event.target = deskElement.get(0);
                if (event.type === 'mousedown') {
                    deskElement.offset({
                        left: event.pageX - Math.floor(deskWidth / 2),
                        top: event.pageY - Math.floor(deskHeight / 2)
                    });
                    deskElement.trigger(event);
                } else {
                    var touch = event.originalEvent.touches[0];
                    deskElement.offset({
                        left: touch.pageX - Math.floor(deskWidth / 2),
                        top: touch.pageY - Math.floor(deskHeight / 2)
                    });
                    widget._touchStart(event);
                    var moveHandler = function (moveEvent) {
                        moveEvent.target = deskElement.get(0);
                        widget._touchMove(moveEvent);
                    };
                    $(document).on('touchmove', moveHandler);
                    $(document).one('touchend', function (endEvent) {
                        endEvent.target = deskElement.get(0);
                        widget._touchEnd(endEvent);
                        $(document).off('touchmove', moveHandler);
                    });
                }
            });
            $('#horizontal_length, #vertical_length').change(function () {
                updateRoomStyle($('#horizontal_length').val(), $('#vertical_length').val());
            });
            updateRoomStyle($('#horizontal_length').val(), $('#vertical_length').val());
            $('form#siting').submit(function (event) {
                if (!submitButton.is(':disabled')) {
                    submitButton.prop('disabled', true);
                    saveRoomData();
                }
                event.preventDefault();
            });
            if ('classroomData' in window) {
                classroomData.desks.forEach(function (desk) {
                    createDesk(desk.x, desk.y, desk.id);
                });
            }

            $('#fillRoom').click(function () {
                desks = [];
                drawRoom();
                var cols = $('#horizontal_length').val(),
                    rows = $('#vertical_length').val();
                for (var i = 0; i < cols; ++i) {
                    for (var j = 0; j < rows; ++j) {
                        createDesk(0.025 + 0.95 / cols * i, 0.025 + 0.95 / rows * j);
                    }
                }
            });

            $(window).resize(function () {
                updateRoomStyle($('#horizontal_length').val(), $('#vertical_length').val());
                drawRoom();
            });
        });
    </script>
{% endblock %}