<form id="siting-time" method="post">
<center>
{#    {{ form.hidden_tag() }}#}
    {{ form.pair_count.label }}&nbsp;&nbsp;{{ form.pair_count() }}
    {{ form.date.label }}&nbsp;&nbsp;{{ form.date(min=min, max=max) }}
    {{ form.time.label }}&nbsp;&nbsp;{{ form.time() }}
</center>
</form>