{% extends 'admin/model/create.html' %}
{% from "security/my_macros.html" import render_field %}

{% block head_css %}
    {{ super() }}
    <link href="/admin/static/vendor/bootstrap-daterangepicker/daterangepicker-bs2.css" rel="stylesheet">
    <style type="text/css">
        .std{
            cursor: pointer;
            list-style-type: none;
            margin: 0;
            left: 0;
            width: 100%;
        }
        .std:hover{
            background-color: lightblue;
        }
        .clicked{
            background-color: bisque;
        }
        .clicked:hover{
            background-color: aquamarine;
        }
        #controls{
            text-align: right;
            margin-bottom: 5px;
        }
        .std-table-tr{
            text-align: center;
        }
        .std-table{
            cursor: pointer;
            background-color: saddlebrown;
            border: 8px solid #ffffff;
            width: 120px;
            height: 60px;
            color: #ffffff;
            text-align: center;
            padding: 0;
            vertical-align: middle;
        }
        .std-table-clicked{
            border: 8px solid #ff412d;
        }
        .board{
            background-color: #b26528;
        }
        .board td{
           border-bottom: 8px solid #ffffff;
           border-right: 16px solid #ffffff;
           border-left: 16px solid #ffffff;
           text-align: center;
           color: #ffffff;
           width: 10px;
        }
        .students{
           background-color: lightgray;
        }
        .tools {
            margin-bottom: 10px;
        }
        #room > #space {
            position: relative;
            width: 100%;
            height: 400px;
            border: 1px solid #000000;
            background-color: #e5e5e5;
            float: right;
        }
        #room .desk {
            position: absolute;
            width: 120px;
            height: 50px;
            border: 1px solid #000000;
            background-color: #c77405;
            overflow: hidden;
        }
        #room .desk.drop-hover {
            border: 3px dotted #000000;
        }
        #student-list {
            overflow-y: scroll;
        }
        .student {
            text-align: center;
            padding-top: 10px;
        }
        .student .name { display: block; }
        #board-bottom, #board-top {
            display: none;
        }
        .board {
            margin: 20px 0 20px 0;
            height: 20px;
            text-align: center;
            border: 1px solid #000000;
            background-color: #363636;
            color: #eeeeee;
        }
    </style>
{% endblock %}

{% block body %}
<div  style="padding-bottom: 20px; padding-left: 5px; margin-bottom: 20px; border-bottom: 1px solid #ddd;">
        <form id="siting" method="post">
         {{ form.hidden_tag() }}

        <div class="row">
            {{ form.classroom.label }}&nbsp;&nbsp;{{ form.classroom() }}
            {{ form.group.label }}&nbsp;&nbsp;{{ form.group() }}
            {{ form.subject.label }}&nbsp;&nbsp;{{ form.subject() }}
            {{ form.semester.label }}&nbsp;&nbsp;{{ form.semester() }}
        </div>
        <div class="row">
            {{ form.pair_count.label }}&nbsp;&nbsp;{{ form.pair_count() }}
            {{ form.date.label }}&nbsp;&nbsp;{{ form.date() }}
            {{ form.time.label }}&nbsp;&nbsp;{{ form.time() }}
            <button id="submit-button" class="btn btn-info btn-small" type="submit">Сохранить</button>
        </div>
    </form>
</div>

<div class="container">
    <div class="row" id="board-top">
        <div class="board col-md-10 col-sm-10 col-xs-10">Доска</div>
    </div>
    <div class="row">
        <div id="room" class="col-md-10 col-sm-10 col-xs-10">
            <div id="space"></div>
        </div>
        <div id="student-list" class="col-md-2 col-sm-2 col-xs-2"></div>
    </div>
    <div class="row" id="board-bottom">
        <div class="board col-md-10 col-sm-10 col-xs-10">Доска</div>
    </div>
</div>


{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script src="/static/jquery-ui/jquery-ui.js"></script>
    <script src="/static/jquery.ui.touch-punch.min.js"></script>
    <script src="/static/q.js"></script>
    <script>
        var deskWidth = 120, deskHeight = 200, roomHeight = 400;
        var desks = [];
        var students = [];
        var roomElement = $('#room > #space');
        var roomWrapper = $('#room');
        var studentListElement = $('#student-list');
        var submitButton = $('#submit-button');

        var rooms = {};
        var groups = {};
        var semesters = {};
        var currentRoomId, currentGroupId, currentSemesterId;
        {% if initial_data %}
            var initialData = {{ initial_data|tojson|safe }};
        {% endif %}

        var getRoomData = function (roomId, callback) {
            if (roomId in rooms) {
                callback(rooms[roomId]);
            } else {
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: '{{ url_for('.get_class_data', room_id=':roomId') }}'.replace(':roomId', roomId),
                    success: function (roomData) {
                        rooms[roomId] = roomData;
                        callback(roomData);
                    }
                });
            }
        };

        var getGroupData = function (groupId, callback) {
            if (groupId in groups) {
                callback(groups[groupId]);
            } else {
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: '{{ url_for('.get_group_data', group_id=':groupId') }}'.replace(':groupId', groupId),
                    success: function (groupData) {
                        groups[groupId] = groupData;
                        callback(groupData);
                    }
                });
            }
        };

        var getSemesterData = function (semesterId, callback) {
            if (semesterId in semesters) {
                callback(semesters[semesterId]);
            } else {
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: '{{ url_for('siting.choices') }}',
                    data: { semester: semesterId },
                    success: function (semesterData) {
                        semesters[semesterId] = semesterData;
                        callback(semesterData);
                    }
                });
            }
        };

        var updateRoomStyle = function (cols, rows) {
            var roomWidth;
            var maxRoomHeight = $(window).height() - roomElement.offset().top;
            var maxRoomWidth = roomWrapper.width();
            var proportions = maxRoomHeight / maxRoomWidth;
            //var proportions = Math.max(rows / cols * 1.2, fullProportions);
            roomWidth = Math.floor(maxRoomHeight / proportions);
            roomHeight = Math.floor(roomWidth * proportions);
            deskWidth = Math.floor(roomWidth * 0.9 / cols);
            deskHeight = Math.floor(roomHeight * 0.9 / rows);
            roomElement.css({
                height: roomHeight + 'px',
                width: roomWidth + 'px'
            });
            roomElement.find('.desk').css({
                width: deskWidth,
                height: deskHeight
            });
            studentListElement.css({
                height: roomHeight + 'px'
            });
        };

        var createDesk = function (x, y, id) {
            x = x || 0;
            y = y || 0;
            id = id || null;
            desks.push({
                x: x,
                y: y,
                id: id
            });
            var deskElement = drawDesk(desks.length - 1);
            return deskElement;
        };

        var removeDesk = function (element) {
            desks = desks.filter(function (desk) {
                return desk.element != element;
            });
            element.remove();
        };

        var drawDesk = function (index) {
            var desk = desks[index];
            if (desk.element) {
                desk.element.remove();
            }
            var deskElement = $('<div class="desk"></div>');
            roomElement.append(deskElement);
            deskElement.css({
                width: deskWidth,
                height: deskHeight,
                left: desk.x * roomElement.width(),
                top: desk.y * roomElement.height()
            });
            if ('id' in desk) {
                deskElement.attr('desk-id', desk.id);
            }
            deskElement.attr('desk-index', index);
            if (desk.studentIndex !== undefined) {
                var studentIndex = desk.studentIndex;
                var student = students[studentIndex];
                var name = student.last_name + ' ' + student.first_name[0] + '.&nbsp;' + student.second_name[0] + '.';
                var photo = '';
                if (student.photo) {
                    photo = '<span class="photo"><img src="' + student.photo + '"/></span>';
                }
                $('<div class="student"><span class="name">' + name + '</span>' + photo + '</div>').appendTo(deskElement);
                deskElement.one('mousedown touchstart', function (event) {
                    deskElement.find('*').hide();
                    forceDrag(releaseStudent(studentIndex), event, function () {
                        drawDesk(index);
                    });
                });
            }
            desks[index].element = deskElement;

            deskElement.droppable({
                accept: '.student',
                hoverClass: 'drop-hover',
                drop: function(event, ui) {
                    if (desk.studentIndex) {
                        releaseStudent(desk.studentIndex);
                    }
                    setStudentDesk(ui.draggable.attr('student-index'), index);
                }
            });
            return deskElement;
        };

        var drawRoom = function () {
            roomElement.empty();
            desks.forEach(function (desk, index) {
                var deskElement = drawDesk(index);
                desk.element = deskElement;
            });
        };

        var drawStudent = function (index) {
            var student = students[index];
            var name = student.last_name + ' ' + student.first_name[0] + '.&nbsp;' + student.second_name[0] + '.';
            var photo = '';
            if (student.photo) {
                photo = '<span class="photo"><img src="' + student.photo + '"/></span>';
            }
            var studentElement = $('<div class="student">' + photo + '<span class="name">' + name + '</span></div>');
            studentListElement.append(studentElement);
            if ('id' in student) {
                studentElement.attr('student-id', student.id);
            }
            studentElement.attr('student-index', index);
            students[index].element = studentElement;

            studentElement.draggable({});
            return studentElement;
        };

        var drawGroup = function () {
            studentListElement.empty();
            students.forEach(function (student, index) {
                var studentElement = drawStudent(index);
                student.element = studentElement;
            });
        };

        var setStudentDesk = function (studentIndex, deskIndex) {
            students[studentIndex].deskIndex = deskIndex;
            desks[deskIndex].studentIndex = studentIndex;
            drawDesk(deskIndex);
            students[studentIndex].element.remove();
        };

        var releaseStudent = function (studentIndex) {
            var deskIndex = students[studentIndex].deskIndex;
            desks[deskIndex].studentIndex = undefined;
            students[studentIndex].deskIndex = undefined;
            return drawStudent(studentIndex);
        };

        var forceDrag = function (element, event, callback) {
            var widget = element.data('ui-draggable');
            event.target = element.get(0);
            if (event.type === 'mousedown') {
                element.offset({
                    left: event.pageX - Math.floor(element.width() / 2),
                    top: event.pageY - Math.floor(element.height() / 2)
                });
                element.trigger(event);
                callback();
            } else {
                var touch = event.originalEvent.touches[0];
                element.offset({
                    left: touch.pageX - Math.floor(element.width() / 2),
                    top: touch.pageY - Math.floor(element.height() / 2)
                });
                widget._touchStart(event);
                var moveHandler = function (moveEvent) {
                    moveEvent.target = element.get(0);
                    widget._touchMove(moveEvent);
                };
                $(document).on('touchmove', moveHandler);
                $(document).one('touchend', function (endEvent) {
                    endEvent.target = element.get(0);
                    widget._touchEnd(endEvent);
                    $(document).off('touchmove', moveHandler);
                    callback();
                });
            }
        };
        
        var isContain = function (container, element, full) {
            var containerPos = $(container).offset();
            var elementPos = $(element).offset();
            if (full) {
                return (
                    containerPos.left < elementPos.left
                    && containerPos.top < elementPos.top
                    && containerPos.left + $(container).width() > elementPos.left + $(element).width()
                    && containerPos.top + $(container).height() > elementPos.top + $(element).height()
                );
            } else {
                return (
                    containerPos.left < elementPos.left + $(element).width() / 2
                    && containerPos.top < elementPos.top + $(element).height() / 2
                    && containerPos.left + $(container).width() > elementPos.left - $(element).width() / 2
                    && containerPos.top + $(container).height() > elementPos.top - $(element).height() / 2
                );
            }
        };

        var loadRoom = function (roomId) {
            var deferred = Q.defer();
            if (currentRoomId !== roomId) {
                students.forEach(function (student, index) {
                    if (student.deskIndex !== undefined) {
                        releaseStudent(index);
                    }
                });
                getRoomData(roomId, function (data) {
                    $('#board-top, #board-bottom').hide();
                    $('#board-' + (data.board_position === 1 ? 'top' : 'bottom')).show();
                    currentRoomId = roomId;
                    desks = data.desks;
                    updateRoomStyle(data.horizontal_length, data.vertical_length);
                    drawRoom();
                    deferred.resolve(roomId, data);
                });
            } else {
                deferred.resolve(roomId);
            }
            return deferred.promise;
        };

        var loadGroup = function (groupId) {
            var deferred = Q.defer();
            if (currentGroupId !== groupId) {
                students.forEach(function (student, index) {
                    if (student.deskIndex !== undefined) {
                        releaseStudent(index);
                    }
                });
                getGroupData(groupId, function (data) {
                    currentGroupId = groupId;
                    students = data.students;
                    drawRoom();
                    drawGroup();
                    deferred.resolve(groupId, data);
                });
            } else {
                deferred.resolve(groupId);
            }
            return deferred.promise;
        };

        var loadSemester = function (semesterId) {
            var deferred = Q.defer();
            if (currentSemesterId !== semesterId) {
                getSemesterData(semesterId, function (data) {
                    currentSemesterId = semesterId;
                    var timeElement = $('select#time');
                    var dateElement = $('input#date');
                    timeElement.empty();
                    data.time_options.forEach(function (time) {
                        var option = $('<option></option>').attr("value", time).text(time);
                        timeElement.append(option);
                    });
                    dateElement.attr({
                        min: data.start_date,
                        max: data.end_date
                    });

                    deferred.resolve(semesterId, data);
                });
            } else {
                deferred.resolve(semesterId);
            }
            return deferred.promise;
        };

        var saveSitingData = function () {
            var sitingMap = rooms[currentRoomId].desks.map(function (desk) {
                var siting = { id: desk.id };
                if (desk.studentIndex !== undefined) {
                    siting.student = students[desk.studentIndex].id;
                }
                return siting;
            });

            var data = {
                sitings: sitingMap,
                classroom: currentRoomId,
                group: currentGroupId,
                semester: currentSemesterId,
                subject: $('#subject').val(),
                pair_count: $('#pair_count').val(),
                date: $('#date').val(),
                time: $('select#time').val()
            };
            if ('initialData' in window) {
                data.siting_id = initialData.siting_id;
            }
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: '.',
                data: JSON.stringify(data),
                success: function (response) {
                    submitButton
                            .removeClass('btn-info')
                            .addClass('btn-success')
                            .text('Сохранено');
                    setTimeout(function () {
                        {% if return_url %}
                            window.location.href = '{{ return_url }}';
                        {% else %}
                            submitButton
                                .removeClass('btn-success')
                                .addClass('btn-info')
                                .text('Сохранить')
                                .prop('disabled', false);
                        {% endif %}
                    }, 1000);
                },
                error: function () {
                    submitButton
                            .removeClass('btn-info')
                            .addClass('btn-danger')
                            .text('Ошибка');
                    setTimeout(function () {
                        submitButton
                                .removeClass('btn-danger')
                                .addClass('btn-info')
                                .text('Сохранить')
                                .prop('disabled', false);
                    }, 1000);
                }
            });
        };

        $(function () {
            $('select#classroom').change(function () {
                loadRoom($(this).val());
            });

            $('select#group').change(function () {
                loadGroup($(this).val());
            });

            $('select#semester').change(function () {
                loadSemester($(this).val());
            });

            if ('initialData' in window) {
                $('select#classroom').val(initialData.classroom);
                $('select#group').val(initialData.group);
                $('select#semester').val(initialData.semester);
                $('input#pair_count').val(initialData.pair_count);
                Q.all([
                    loadRoom(initialData.classroom),
                    loadGroup(initialData.group),
                    loadSemester(initialData.semester)
                ]).then(function () {
                    $('select#time').val(initialData.time);

                    var sitingMap = initialData.tables;
                    Object.keys(sitingMap).forEach(function (deskId) {
                        var studentId = sitingMap[deskId];
                        desks.forEach(function (desk, deskIndex) {
                            if (desk.id === deskId) {
                                desk.student = studentId;
                                students.forEach(function (student, studentIndex) {
                                    if (student.id === studentId) {
                                        setStudentDesk(studentIndex, deskIndex);
                                    }
                                });
                            }
                        });

                    });
                    console.log(initialData);
                });
            } else {
                loadRoom($('select#classroom').val());
                loadGroup($('select#group').val());
                loadSemester($('select#semester').val());
            }

            $('body').droppable({
                accept: '.student',
                drop: function(event, ui) {
                    var studentIndex = ui.draggable.attr('student-index');
                    ui.draggable.remove();
                    drawStudent(studentIndex);
                }
            });

            $('form#siting').submit(function (event) {
                if (!submitButton.is(':disabled')) {
                    submitButton.prop('disabled', true);
                    saveSitingData();
                }
                event.preventDefault();
                event.stopPropagation();
                return false;
            });

            $(window).resize(function () {
                updateRoomStyle(rooms[currentRoomId].horizontal_length, rooms[currentRoomId].vertical_length);
                drawRoom();
            });
        });
    </script>
{% endblock %}