{% extends 'admin/model/list.html' %}

{% block add_filters %}
    <form id="filter_form" method="GET" action="/admin/subject/">
        <div class="pull-right">
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </div>
        <div>
        <table class="filters">
            <tbody>
            <tr class="form-horizontal">
                <td>
                    <label>&nbsp;Название</label>
                </td>
                <td>
                    <input name="flt1_0" class="filter-val form-control" type="text">
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </form>
{% endblock %}
